<% provide(:page_title, 'All posts') %>
<% provide(:blog_active, 'active') %>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Full Page Image Header with Vertically Centered Content -->
<link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Lora:400,700|Roboto:400,700" rel="stylesheet">
  <div class="row">
    <% @posts.each do |post| %>
    <%= render post %>

    <% end %>
  </div>

  <div class='pagination'>
  <%= will_paginate @posts %>
  </div>
</body>
