<% provide(:page_title, 'All posts') %>
<% provide(:blog_active, 'active') %>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Full Page Image Header with Vertically Centered Content -->
<link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Lora:400,700|Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.iconify.design/1/1.0.1/iconify.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Lora:400,700|Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <div class="row">
    <% @posts.each do |post| %>
    <%= render post %>

    <% end %>
  </div>

  <div class='pagination'>
  <%= will_paginate @posts %>
  </div>

</body>
<footer class="text-muted">
  <div class="container">

      <p><a href="#"</a><br>First Hand, 2019<br>
        <a href="https://github.com/LUNDR/travels" style="font-size:20px"><i class="devicon-github-plain colored"></i></a>&nbsp; Coded by Rachel Lund <br>
        <i class="devicon-rails-plain colored" style="font-size:20px"></i>
        <i class="devicon-bootstrap-plain colored" style="font-size:20px"></i>
        <i class="devicon-heroku-original colored" style="font-size:20px"></i>
       <i class="devicon-amazonwebservices-original colored" style="font-size:20px"></i>
     </p>

      <div><p>Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></p>

  </div>
</footer>
