<% provide(:about_active, 'active')%>
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.iconify.design/1/1.0.1/iconify.min.js"></script>
<li
nk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<img
<div class="row">
  <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 col-xl-3">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
    <h4> My name is Rachel Lund.</h4><p> This website is a collection of stories from my travels, some interesting data and general ramblings on life, the economy and anything else.</p>
    <p> I am an economist, data analyst and former commentator on the retail industry. In 2019 I decided to embark on a period of economic activity in order to see a few parts of the world that had been on my list for a while and to actually read some of the many books I that have accumulated over the years. </p>

    <!-- in your body -->

<p> This blog was built with Ruby on Rails <i class="devicon-rails-plain colored" style="font-size:25px"></i> and Bootstrap 4 <i class="devicon-bootstrap-plain colored" style="font-size:25px"></i> and is deployed on Heroku <i class="devicon-heroku-original colored" style="font-size:25px"></i>. Images are hosted on Amazon S3 <i class="devicon-amazonwebservices-original colored" style="font-size:25px"></i>. Code can be found on Github <a href="https://github.com/LUNDR/travels" style="font-size:25px"><i class="devicon-github-plain colored"></i></a>.</p>


<p> If you feel so inclined, you can follow me...</p>
<a href="https://twitter.com/invisiblehandb1"> <i class="devicon-twitter-plain colored" style="font-size:25px"></i>
<a href="https://www.linkedin.com/in/rachel-lund-3500972b/"> <i class="fa fa-linkedin-square" style="font-size:25px;color:#0077B5"></i><a>
<a href ="https://www.instagram.com/rmlund00/"><i class="fa fa-instagram fa-5x" style="font-size:25px"></i><a>
<a href ="https://www.strava.com/athletes/25769961">
<span class="iconify" data-icon="simple-icons:strava" data-inline="false" style="font-size:25px; color:#fc4c02"></span></a>
</p>

<!-- in your body -->


      </div>
  <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 col-xl-3">
  </div>
</div>
