<% provide(:about_active, 'active')%>
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.iconify.design/1/1.0.1/iconify.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Lora:400,700|Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<body>

<div class="row">
  <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 col-xl-3">

  </div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
    <h4> My name is Rachel Lund.</h4><p> I am an economist, data analyst and former commentator on the retail industry. In 2019 I decided to take some time to travel and to read some of the many books I started but have never finished. This blog is a collection of stories from my travels and general ramblings on life, data, the economy and anything else.</p>
<p> If you would like to follow me, know more about me, keep track of how many miles i'm running, or skip the waffling and go straight to the pictures; then you can choose your application: </p>
    <!-- in your body -->

    <a href="https://twitter.com/lundrm"> <i class="devicon-twitter-plain " style="font-size:25px; color:#ccc"></i> &nbsp;
    <a href="https://www.linkedin.com/in/rachel-lund-3500972b/"> <i class="fa fa-linkedin-square" style="font-size:25px;color:#ccc"></i><a>  &nbsp;
    <a href ="https://www.instagram.com/rmlund00/"><i class="fa fa-instagram fa-5x" style="font-size:25px"></i><a> &nbsp;
    <a href ="https://www.strava.com/athletes/25769961">
    <span class="iconify" data-icon="simple-icons:strava" data-inline="false" style="font-size:25px; color:#ccc"></span></a>


<br>
<br>
<br>






<!-- in your body -->


      </div>
  <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 col-xl-3">
      </div>
</div>
</body>
<footer class="text-muted">
  <div class="container">

      <p><a href="#"</a><br>The Invisible Handbag, 2019<br>
        <a href="https://github.com/LUNDR/travels" style="font-size:20px"><i class="devicon-github-plain colored"></i></a>&nbsp; Coded by Rachel Lund <br>
        <i class="devicon-rails-plain colored" style="font-size:20px"></i>
        <i class="devicon-bootstrap-plain colored" style="font-size:20px"></i>
        <i class="devicon-heroku-original colored" style="font-size:20px"></i>
       <i class="devicon-amazonwebservices-original colored" style="font-size:20px"></i>
     </p>

      <div><p>Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></p>

  </div>
</footer>
