.posts.index {
margin-top: 30px;
padding: 20px;
  .pagination{
    text-align:center;
    width: 100%;
  }
  .card {
    border: none;
    height: 400px;
    margin-bottom: 20px;
    background-color: 	white;


    .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .card-block {

      .card-title {
        height: 50px;
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
        text-align:center;
         word-wrap:break-word;
                a {


        }
      }

      }
      .tags {
        margin-bottom: 0;
        text-align:center;

        height: 20px;

        a {


        }
      }
      .published-date {
        font-size: 0.8rem;
        font-style: italic;
        color: #787878;
        font-weight: 300;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
      }
      .card-text {
        font-size: 0.8 rem;
        font-weight:200;
        color: black;
      }

    }

}

.singleblog{
  margin-top:5%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}


.singleblogtwo{
  margin-top:5%;
  margin-left: 0%;
  margin-right:0%;
  text-align: justify;
  font-family: 'Lora', serif !important;
}

.image{
box-sizing: content-box;

}

.jumbotron {
  height: 70vh;
  min-height: 100px;
  background-image: url('globe.jpg');
  background-size:  100%;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  background-color: white;

}

.jumbotron h1 {
  position: relative
}

.jumbotron h3 {
  position: relative
}


.jumbotron2 {

  align-items: center;
  height:40vh;
  width: 100%;
    background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;


}

.posts.edit, .posts.new {
  .card {
    .card-block {
      background-color: none;
    }
    .card-title {
      margin-bottom: 0;
      font-size: 14px;
    }
    .list-group-item {
      padding: 10px;
      border-left: 0px;
      border-right: 0px;
      input[type='text'], textarea {
        font-size: 12px;
        background-color: none;
      }
      textarea {
        height: 100px;
      }
      &:last-child {
        background-color: none;
      }
    }
  }
}


.posts.show {
  .author-bio {
    background-color: white;
    padding: 15px 45px;
    margin: 30px 0;
    img {
      border-radius: 0%;
    }
    img, h4 {
      margin-bottom: 10px;
    }
    h4 {
      font-weight: bold;
      font-size: 22px;
    }
    h6 {
      font-weight: 300;
      font-size: 16px
    }
  }
}

.posts.show.card{
  height: 20%;
  width:20%;
}



  .singleblog.card-topper {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-bottom: 10px;
    margin-bottom: 10px;

  }

  .push-spaces
  {
      height: 100px;
  }


@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}
